<%= stylesheet_link_tag "team.css" %>

<div class="team-main">
  <div class="peter-cooperman">
    <p class="team-header">
        ABOUT <span>PETER KUPERMAN</span>
    </p><hr/>
    <div class="team-leftside">

      <%= image_tag("peterk.png", :height => '256', :width => '380') %>

      <div class="links">

        <a href="http://www.linkedin.com/in/peterkuperman" target="blank">
          <%= image_tag("linkedin.png", :height => '30', :width => '30') %>
        </a>

        <a href="http://twitter.com/#!/peterkuperman" target="blank">
          <%= image_tag("twitter.png", :height => '30', :width => '42') %>
        </a>
        
        <a href="mailto:peter@theknetwork.org?subject=The K-Network" class="email-button">
            EMAIL
        </a>
      </div>
    </div>
    <div class="team-rightside">
      <p>
        Peter Kuperman is a Wharton grad and 
        owns & runs his own hedge fund.  
        Since October 2010, he has been on a 
        mission to change the world.
      </p>
      <p>
        He has done 18 months of volunteering for The 
        Khan Academy, probably averaging about 25 hours 
        a week.  He has worked on 5 volunteer projects 
        before starting this website:
      </p>
      <p>
        • Mapping Khan’s videos and exercises to the 
        common core, a nation-wide curriculum standard. <br/>
        • Leading a team of 10 volunteers that built a toolkit to help teachers use Khan Academy in the classroom <br/>
        • Learning Javascript and building exercises in 
        Khan’s open source exercise framework & knowledge map. <br/>
        • Introducing Khan Academy to Canada via a series of meetings and events on April 24, 2012 <br/>
        • Cold calling The Colbert Report and booking Sal Khan on the show; the episode aired in June 2011 (doing this last one was lots of fun!) <br/>
      </p> 
      <p>See Peter speaking about Khan Academy here:
      </p>
      <a href="Peter cooperman's link goes here">LINK</a>
      <br/>
    </div>
  </div>
  <div class="harsh-patel">
    <p class="team-header">
        ABOUT <span>HARSH PATEL</span>
    </p><hr/>
    <div class="team-leftside">

      <%= image_tag("Harsh Patel pic.jpg", :height => '256', :width => '380') %>

      <div class="links">

        <a href="N/A" target="blank">
          <%= image_tag("linkedin.png", :height => '30', :width => '30') %>
        </a>

        <a href="http://twitter.com/#!/HarshOnInternet" target="blank">
          <%= image_tag("twitter.png", :height => '30', :width => '42') %>
        </a>
        
        <a href="mailto:harshpravinpatel@gmail.com?subject=The K-Network" class="email-button">
            EMAIL
        </a>
      </div>
    </div>
    <div class="team-rightside">
      <p>
        Harsh Patel is co-founder of The K Network and a
        co-creator of The Knowledge Corps. He is a Knowl-
        edge Corps Ambassador. If your community raises
        money and spends it on Project #1, Harsh is the
        person who will help your school bring Khan Acad-
        emy into the classroom.
      </p>
      <p>
        Harsh Patel is has an engineering degree from St.
        Louis University and is a Teach For America teacher in
        Inner City Chicago. He has taught both 4th and 8th
        grade students. At the low point of his first year as a
        TFA teacher, Harsh went back to a source of inspira-
        tion from high school and college: Khan Academy.
        He discovered Khan Academy had interactive exer-
        cises for math, and over this pivotal “low point” week-
        end decided to immediately start using Khan Acad-
        emy for the math instruction in his class.
      </p>
      <p>
        He also meticulously described his implementation
        process on a detailed blog, which is here:
      </p>
      <p>
        <a href="http://blog.harshpatel.net/"></a>
      </p>
      <p>
        Harsh Patel became the go-to person for implement-
        ing Khan Academy in an inner city school. He started
        with 4 computers in a 32 student class. He sourced
        12 additional computers. He built a rotation system
        where half the class was on Khan and the other half
        was being taught more traditionally, just to make it
        work. And he detailed the whole process meticu-
        lously in his blog, which is now read by the entire
        Khan Academy staff.
      </p>
      <p>
        See Harsh speaking about Khan Academy here:
      </p>
      <p>
        <a href="">LINK</a>
      </p> <br/>
    </div>
  </div>